body, html {
    height: 100%;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.bg { 
    background-image: url("../img/bck/bck.jpg"); /* Background Image */
    height: 100%; /* Full height */
    background-position: center; /* center the image */
    background-repeat: no-repeat;
    background-size: cover; /* scale image */
    opacity: 0.8; /* change to make transparent */
    filter: brightness(105%) hue-rotate(350deg);
}

.caption {
  position: absolute;
  left: 0;
  top: 42%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  color: #fff;
  padding: 18px;
  font-size: 50px;
  letter-spacing: 7px;
}

.caption span.border_under {
  color: #fff;
  padding: 18px;
  font-size: 30px;
  letter-spacing: 6px;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    opacity: 0.8;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.chip {
    position: absolute;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
    top: 30%;
    left: 20%;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#main-header{
    font-size:50px;
    color:#666;
    text-align:left;
    width: 100%;
    margin: auto;
    padding: 20px;
    font-weight:300;
    box-sizing: border-box;
}

#main-wrapper{
    font-size:14px;
    width: 100%;
    height: calc(100% - 115px);
    border-top:1px solid #ccc;
}

#projectbar{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border-top:1px solid #ccc;
    box-sizing: border-box;
}

#projectbar_inner{
    width: 100%;
}

#sidebar{
    width: 30%;
    padding-left: 20px;
    padding-right: 1%;
    float:left;
    border-right: 1px solid #ccc;
    height: 100%;
}

#cite{
    border-bottom: 1px solid #ccc;
    padding-top: 2%;
    padding-bottom: 1%;
    font-size: 14px;
    line-height: 1.4em;
    width: 100%;
}

#chart{
    font-weight: 600;
    font-size: 12px;
    float:right;
    margin-right: 30px;
    width: 59%;
    height: 100%;
}


/* Formatting for the project page grid */
.row,
.row > .column {
    padding: 8px;  /* Add padding between columns */
}

.column {
    float: left;
    width: 25%;
    box-sizing: border-box;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


@media (max-width: 900px) {
    .column {
        width: 50%;
    }
}

@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}

/* Formatting for the contact page */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20%;
    padding-right: 20%;
}

.p_container {
    position: relative;
    text-align: left;
    color: white;
    width: 100%;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    padding-top: 2px;
    text-align: center;
    padding-bottom: 2px;
    bottom: 4px;
    background-color:rgba(0,0,0,0.5);
    width: 100%;
}

li p2 {
    margin: 0;
    padding: 0;
}
