
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    /* Styles */
    body {
		display: grid;
		grid-template-areas:
			"header header"
			"menu top_chart"
			"menu bot_chart"
			"footer footer";
		grid-template-rows: 8% 44% 44% auto;
		grid-template-columns: 18% 80%;
		grid-row-gap: 1%;
		grid-column-gap: 1%;
		height: 100vh;
		margin: 0;
		background-color: #F8F8F8;
	}

	#page_header {
		grid-area: header;
		font-size: 45px;
		color: #00B8AA;
		text-align: left;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 350;
		padding: 1%;
		top: 1%;
		left: 1%;
	}
	#menu_s {
		grid-area: menu;
		font-size: 18px;
		font-family: 'Source Sans Pro', sans-serif;
		color: #737373;
		font-weight: 350;
		padding-top: 1%;
		padding-left: 6%;
		top: 1%;
		left: 1%;
	}
	#top_c {
		grid-area: top_chart;
		font-size: 14px;
	}
	#bot_c {
		grid-area: bot_chart;
		font-size: 14px;
	}
	#page_footer {
		grid-area: footer;
		font-size: 14px;
		font-family: 'Source Sans Pro', sans-serif;
		color: #737373;
		font-weight: 350;
		padding-top: 1%;
		padding-left: 6%;
		top: 1%;
		left: 1%;
	}
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
    /* Styles */
    body {
		display: grid;
		grid-template-areas:
			"header header"
			"menu top_chart"
			"menu bot_chart"
			"footer footer";
		grid-template-rows: 8% 44% 44% auto;
		grid-template-columns: 18% 80%;
		grid-row-gap: 1%;
		grid-column-gap: 1%;
		height: 100vh;
		margin: 0;
		background-color: #F8F8F8;
	}

	#page_header {
		grid-area: header;
		font-size: 45px;
		color: #00B8AA;
		text-align: left;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 350;
		padding: 1%;
		top: 1%;
		left: 1%;
	}
	#menu_s {
		grid-area: menu;
		font-size: 18px;
		font-family: 'Source Sans Pro', sans-serif;
		color: #737373;
		font-weight: 350;
		padding-top: 1%;
		padding-left: 6%;
		top: 1%;
		left: 1%;
	}
	#top_c {
		grid-area: top_chart;
		font-size: 14px;
	}
	#bot_c {
		grid-area: bot_chart;
		font-size: 14px;
	}
	#page_footer {
		grid-area: footer;
		font-size: 14px;
		font-family: 'Source Sans Pro', sans-serif;
		color: #737373;
		font-weight: 350;
		padding-top: 1%;
		padding-left: 6%;
		top: 1%;
		left: 1%;
	}
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
    /* Styles */
    body {
		display: grid;
		grid-template-areas:
			"header header"
			"menu top_chart"
			"menu bot_chart"
			"footer footer";
		grid-template-rows: 8% 44% 44% auto;
		grid-template-columns: 18% 80%;
		grid-row-gap: 1%;
		grid-column-gap: 1%;
		height: 100vh;
		margin: 0;
		background-color: #F8F8F8;
	}

	#page_header {
		grid-area: header;
		font-size: 30px;
		color: #00B8AA;
		text-align: left;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 350;
		padding: 1%;
		top: 1%;
		left: 1%;
	}
	#menu_s {
		grid-area: menu;
		font-size: 18px;
		font-family: 'Source Sans Pro', sans-serif;
		color: #737373;
		font-weight: 350;
		padding-top: 1%;
		padding-left: 6%;
		top: 1%;
		left: 1%;
	}
	#top_c {
		grid-area: top_chart;
		font-size: 14px;
	}
	#bot_c {
		grid-area: bot_chart;
		font-size: 14px;
	}
	#page_footer {
		grid-area: footer;
		font-size: 14px;
		font-family: 'Source Sans Pro', sans-serif;
		color: #737373;
		font-weight: 350;
		padding-top: 1%;
		padding-left: 6%;
		top: 1%;
		left: 1%;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    /* Styles */
    body {
		display: grid;
		grid-template-areas:
			"header header"
			"menu top_chart"
			"menu bot_chart"
			"footer footer";
		grid-template-rows: 8% 44% 44% auto;
		grid-template-columns: 18% 80%;
		grid-row-gap: 1%;
		grid-column-gap: 1%;
		height: 100vh;
		margin: 0;
		background-color: #F8F8F8;
	}

	#page_header {
		grid-area: header;
		font-size: 45px;
		color: #00B8AA;
		text-align: left;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 350;
		padding: 1%;
		top: 1%;
		left: 1%;
	}
	#menu_s {
		grid-area: menu;
		font-size: 18px;
		font-family: 'Source Sans Pro', sans-serif;
		color: #737373;
		font-weight: 350;
		padding-top: 1%;
		padding-left: 6%;
		top: 1%;
		left: 1%;
	}
	#top_c {
		grid-area: top_chart;
		font-size: 14px;
	}
	#bot_c {
		grid-area: bot_chart;
		font-size: 14px;
	}
	#page_footer {
		grid-area: footer;
		font-size: 14px;
		font-family: 'Source Sans Pro', sans-serif;
		color: #737373;
		font-weight: 350;
		padding-top: 1%;
		padding-left: 6%;
		top: 1%;
		left: 1%;
	}
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    /* Styles */
    body {
		display: grid;
		grid-template-areas:
			"header header"
			"menu top_chart"
			"menu bot_chart"
			"footer footer";
		grid-template-rows: 8% 44% 44% auto;
		grid-template-columns: 18% 80%;
		grid-row-gap: 1%;
		grid-column-gap: 1%;
		height: 100vh;
		margin: 0;
		background-color: #F8F8F8;
	}

	#page_header {
		grid-area: header;
		font-size: 45px;
		color: #00B8AA;
		text-align: left;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 350;
		padding: 1%;
		top: 1%;
		left: 1%;
	}
	#menu_s {
		grid-area: menu;
		font-size: 18px;
		font-family: 'Source Sans Pro', sans-serif;
		color: #737373;
		font-weight: 350;
		padding-top: 1%;
		padding-left: 6%;
		top: 1%;
		left: 1%;
	}
	#top_c {
		grid-area: top_chart;
		font-size: 14px;
	}
	#bot_c {
		grid-area: bot_chart;
		font-size: 14px;
	}
	#page_footer {
		grid-area: footer;
		font-size: 14px;
		font-family: 'Source Sans Pro', sans-serif;
		color: #737373;
		font-weight: 350;
		padding-top: 1%;
		padding-left: 6%;
		top: 1%;
		left: 1%;
	}
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
    /* Styles */
    body {
		display: grid;
		grid-template-areas:
			"header header"
			"menu top_chart"
			"menu bot_chart"
			"footer footer";
		grid-template-rows: 8% 44% 44% auto;
		grid-template-columns: 18% 80%;
		grid-row-gap: 1%;
		grid-column-gap: 1%;
		height: 100vh;
		margin: 0;
		background-color: #F8F8F8;
	}

	#page_header {
		grid-area: header;
		font-size: 45px;
		color: #00B8AA;
		text-align: left;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 350;
		padding: 1%;
		top: 1%;
		left: 1%;
	}
	#menu_s {
		grid-area: menu;
		font-size: 18px;
		font-family: 'Source Sans Pro', sans-serif;
		color: #737373;
		font-weight: 350;
		padding-top: 1%;
		padding-left: 6%;
		top: 1%;
		left: 1%;
	}
	#top_c {
		grid-area: top_chart;
		font-size: 14px;
	}
	#bot_c {
		grid-area: bot_chart;
		font-size: 14px;
	}
	#page_footer {
		grid-area: footer;
		font-size: 14px;
		font-family: 'Source Sans Pro', sans-serif;
		color: #737373;
		font-weight: 350;
		padding-top: 1%;
		padding-left: 6%;
		top: 1%;
		left: 1%;
	}
}

#chrt {
	height: 100%;
}

#grid {
	color: #737373;
	clear: both;
	position: relative;
	font-family: 'Source Sans Pro', sans-serif;
	overflow: auto;
	white-space: nowrap;
	max-height: 85%;
}

.row, .header {
	clear: left;
	font-size: 14px;
	line-height: 16px;
	height: 16px;
	margin: 5px;
	width: 90%;
}

.row:hover {text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #737373;}
.header {font-weight: bold;}
.cell {
	float: left;
	overflow: hidden;
	white-space: nowrap;
	width: 80%;
	height: 19px;
}

.col-0 {width: 15%;}
.col-1 {width: 8%;}
.col-2 {width: 20%;}
.col-3 {width: 8%;}
.col-4 {width: 25%;}
.col-5 {width: 15%;}
.col-6 {width: 8%;}
.col-7 {width: 0%;}
.col-8 {width: 0%;}
.col-9 {width: 0%;}

.line_M {
	fill: none;
	stroke: #8995BF;
	stroke-width: 3px;
}

.line2_M {
	fill: none;
	stroke: #B3B2CB;
	stroke-width: 2px;
	stroke-dasharray: 5,5
}

.line_F {
	fill: none;
	stroke: #F6978A;
	stroke-width: 3px;
}

.line2_F {
	fill: none;
	stroke: #F6C2BB;
	stroke-width: 2px;
	stroke-dasharray: 5,5
}






